.about {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.about:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 30.625rem;
  height: 31.5625rem;
  background: url(../../img/about/chess.jpg) center center / cover no-repeat;
}

.about__descripton {
  background: #202123;
  padding: 4.1875rem 6.25rem;
  max-width: 49.0625rem;
  margin-top: 7.1875rem;
  border-radius: 0.3125rem;
  z-index: 1;
}

.about__title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 2.0625rem;
  margin-top: 0;
}

.about__text {
  margin-bottom: 4.0625rem;
  line-height: 1.75rem;
}

.about__text p {
  margin-top: 0;
}

.about__text p:last-child {
  margin-bottom: 0;
}