.feedbacks {
  padding-inline-start: 0;
  margin: 0 0 2.5rem 0;
  column-count: 2;
  column-gap: 1.875rem;
}

.feedback {
  display: inline-flex;
  flex-direction: column;
  padding: 3.125rem 1.875rem 1.875rem 1.875rem;
  background: #F4F5F5;
}

.feedbacks__block {
  margin-bottom: 1.25rem;
  max-width: 34.8125rem;
  min-height: 30rem;
}

.feedback__header {
  display: flex;
    margin-bottom: 1.4375rem;
}

.feedback__user-data{
  padding-top: 1.875rem;
}

.feedback__photo {
  margin-right: 1.25rem;
}

.avatar {
  height: 8.875rem;
  width: 8.875rem;
  overflow: hidden;
  border-radius: 50%;
}

.username {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #1A1B1E;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.username:hover {
  color: #2E77A4;
  text-decoration: underline;
}

.username:after {
  content: url(../../img/feedback/vk-colored.png);
  height: 1.8125rem;
  margin-left: 0.5rem;
}

.feedback__tags {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}

.feedback__tag {
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}

.tag {
  font-size: 0.8125rem;
  color: #303030;
  padding: 0.625rem 1.25rem;
  background: #E7E7E7;
  border-radius: 2.1875rem;
}

.tag_colored {
  background: #B9EAE4;
}

.feedback__title {
  font-weight: bold;
  font-size: 1.875rem;
  color: #202020;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.feedback__description {
  margin-bottom: 3.125rem;
}

.feedback__date {
  font-weight: 600;
  font-size: 0.875rem;
  color: #1A1B1E;
}

.separator {
  background: #E5C288 url("../../img/feedback/phone-n-hand.png") right 33% bottom 131% no-repeat;
  min-height: 22.6875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator__slogan {
  min-height: 12.1875rem;
  max-width: 40%;
}

.separator__title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4.0625rem;
  margin: 0;
}