.header {
  padding-top: 2.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem;
}

.header-top .header {
  padding-top: 1.75rem;
  margin-bottom: 5.25rem;
}

.header-top {
  min-height: 25.75rem;
  background: url(../img/bg/lion-head-wide.jpg) right 20% top no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.4375rem;
  background-color: #202123;
}

.container_type_header-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-inner__title {
  color: #fff;
  font-weight: bold;
  font-size: 4.5rem;
  display: flex;
  margin-bottom: 4.75rem;
  margin-top: 0;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col.header__col_right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 6rem;
}

.menu {
  font-size: 0.875rem;
  color: #fff;

}

.menu__link {
  display: inline;
  vertical-align: middle;
  margin-right: 3.1875rem;
  text-decoration: none;
  transition: color .5s;
}

.menu__link_active {
  color: #D3A557
}

.menu__link:last-child {
  margin-right: 0rem;
}

.menu__link-title {
  text-decoration: none;
}

.menu__link:hover {
  color: #D3A557;
}

.header .contacts {
  font-size: 1.625rem;
  color: #fff
}

.contacts__phone {
  text-decoration: none;
  white-space: nowrap;
}

.contacts__workhours {
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  text-decoration: underline;
  text-align: right;
  position: relative;
}

.contacts__workhours:hover {
  color: #D3A557;
}

.contacts__workhours:hover .dropdown__info {
  left: initial;
  right: 0;
  opacity: 0.8;
}

.dropdown__info {
  position: absolute;
  background: #EDEDED;
  border-radius: 0.25rem;
  color: #1E1F20;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.3125rem;
  opacity: 0;
  transition: opacity 1s;
  padding: 0.9375rem 1.25rem;
  width: 10rem;
  top: 100%;
  left: -6249.9375rem;
  margin-top: 0.4375rem;
}

.dropdown__item {
  text-align: left;
}

.dropdown__info:before {
  content: "";
  display: block;
  height: 1.875rem;
  left: 0;
  right: 0;
  top: -1.8125rem;
  position: absolute;
}

.dropdown__info:after {
  content: "";
  display: block;
  height: 1.875rem;
  width: 1.875rem;
  left: 0;
  right: 0;
  transform: rotate(-45deg);
  top: -0.0625rem;
  left: 5.8125rem;
  z-index: -10;
  position: absolute;
  background: #EDEDED;
}

.dropdown__list {
  padding-inline-start: 0;
  margin: 0;
  list-style-type: none
}

/* .dropdown__item:last-of-type {
  font-weight: bold;
} */

ul.menu__list {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 36.6875rem;
}

.breadcrumbs {
  color: #9A9A9A;
  font-size: 0.875rem;
}

.breadcrumbs__list {
  padding: 0rem;
  margin: 0rem;
  list-style-type: none;
}

.breadcrumbs__item {
  display: inline;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__item_active {
  font-weight: bold;
  text-decoration: underline;
}