.header {
  padding-top: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-top .header {
  padding-top: 28px;
  margin-bottom: 84px;
}

.header-top {
  min-height: 412px;
  background: url(/img/bg/lion-head-wide.jpg) right 20% top no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
  background-color: #202123;
}

.container_type_header-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-inner__title {
  color: #fff;
  font-weight: bold;
  font-size: 72px;
  display: flex;
  margin-bottom: 76px;
  margin-top: 0;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col.header__col_right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 96px;
}

.menu {
  font-size: 14px;
  color: #fff;

}

.menu__link {
  display: inline;
  vertical-align: middle;
  margin-right: 51px;
  text-decoration: none;
  transition: color .5s;
}

.menu__link_active {
  color: #D3A557
}

.menu__link:last-child {
  margin-right: 0px;
}

.menu__link-title {
  text-decoration: none;
}

.menu__link:hover {
  color: #D3A557;
}

.header .contacts {
  font-size: 26px;
  color: #fff
}

.contacts__phone {
  text-decoration: none;
}

.contacts__workhours {
  font-size: 13px;
  line-height: 13px;
  text-decoration: underline;
  text-align: right;
  position: relative;
}

.contacts__workhours:hover {
  color: #D3A557;
}

.contacts__workhours:hover .dropdown__info {
  left: initial;
  right: 0;
  opacity: 0.8;
}

.dropdown__info {
  position: absolute;
  background: #EDEDED;
  border-radius: 4px;
  color: #1E1F20;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  opacity: 0;
  transition: opacity 1s;
  padding: 15px 20px;
  width: 160px;
  top: 100%;
  left: -99999px;
  margin-top: 7px;
}

.dropdown__item {
  text-align: left;
}

.dropdown__info:before {
  content: "";
  display: block;
  height: 30px;
  left: 0;
  right: 0;
  top: -29px;
  position: absolute;
}

.dropdown__info:after {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  left: 0;
  right: 0;
  transform: rotate(-45deg);
  top: -1px;
  left: 93px;
  z-index: -10;
  position: absolute;
  background: #EDEDED;
}

.dropdown__list {
  padding-inline-start: 0;
  margin: 0;
  list-style-type: none
}

/* .dropdown__item:last-of-type {
  font-weight: bold;
} */

ul.menu__list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 587px;
}

.breadcrumbs {
  color: #9A9A9A;
  font-size: 14px;
}

.breadcrumbs__list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.breadcrumbs__item {
  display: inline;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__item_active {
  font-weight: bold;
  text-decoration: underline;
}