.slogan {
  margin-left: 0px;
  width: 35%;
}

.slogan__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 23px;
}

.slogan__text {
  font-size: 18px;
  line-height: 20px;
  color: #D3A557;
  margin-top: 0;
  margin-bottom: 45px;
}

.hero {
  margin-bottom: 170px;
}