.paginator {
  align-items: center;
  display: flex;
  justify-content: center;
}

.paginator_inner {
  margin-bottom: 5.625rem;
}

.paginator__display {
  margin-right: 1.5rem;
}

.paginator__list {
  list-style-type: none;
  line-height: 2rem;
  padding: 0rem;
  display: flex;
  align-items: center;
}

.paginator__link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.paginator__item {
  text-align: center;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  margin-right: 0.1875rem;
  overflow: hidden;
  transition: background-color .2s;
}

.paginator__item:hover {
  background-color: #353439;
  color: #fff;
}

.paginator__item:last-child {
  margin-right: 0rem;
}

.paginator__item_active {
  font-size: 1rem;
  background-color: #353439;
  border-radius: 3.125rem;
  color: #fff;
}