.inner-section_color {
  background: #F4F5F5;
  color: #202020;
}

.inner-section {
  min-height: 30.625rem;
  padding: 6.25rem 0 5.3125rem 0;
}

.inner__title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4.0625rem;
  margin: 0 0 2.8125rem 0;

}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 15.625rem;
  height: 6.25rem;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  transition: filter .5s;
}

.partners__link:hover {
  filter: grayscale(0%);
}

.partners {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.partners__item {
  margin-left: 2.8125rem;
}

.partners__item:nth-child(4n + 1) {
  margin-left: 0;
}