.service {
  display: flex;
  margin-bottom: 0.6875rem;
  padding: 3.75rem 1.875rem;
}

.service:last-child {
  margin-bottom: 0rem;
}

.service:hover {
  background-color: #F4F5F5;
}

.services {
  margin: 0;
  padding: 0;
}

.sevice__pic {
  width: 42%;
  margin-right: 6.5%;
}

.service__description {
  flex: 1;
}

.service__title {
  font-size: 1.8125rem;
  line-height: 2.4375rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 0rem;
  color: #202020;
}

.service__text {
  font-size: 1rem;
  line-height: 1.6875rem;
  color: #303030;
}