@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Open Sans', Georgia, sans-serif;
  background-color: #29282D;
  color: #fff;
  font-size: 1rem;
  line-height: 1.42;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (max-width: 1024px) {
  html {
    font-size: 14px
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px
  }
}

.container {
  margin: 0 auto;
  width: 71.25rem;
}

.section {
  margin-bottom: 8.3125rem;
}

.section:last-of-type {
  margin-bottom: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 2.9375rem;
  margin-top: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 0.1875rem;
  font-weight: bold;
  font-size: 0.875rem;
  align-items: center;
  text-transform: uppercase;
    padding: 1.125rem 2.5625rem;
  text-align: center;
  min-width: 4.6875rem;
  transition: .3s;
}

.button_type_primary {
  background: #DFB56D;
}

.button_type_primary:hover {
  background: #D3A557;
  box-shadow: 0px 0px 35px 0px rgba(223, 181, 109, 0.35);
}

.button_type_secondary {
  background-color: #29282D;
  color: #fff;
}

.button_type_secondary:hover {
  background: #DFB56D;
}

.button_type_thirdly {
  background-color: #8E8E8E;
  color: #fff;
}

.button_type_thirdly:hover {
  background: #2B2B2B;

}

.wrapper {
  background: url(../../img/bg/lion-header.jpg) center top no-repeat, url(../../img/bg/bottom-pic.png) right bottom 300px no-repeat;
}

.wrapper_type_inner-page {
  background: none;
  background-color: #fff;
}

.main {
  margin-bottom: 7.5625rem;
}

.main__inner-page {
  background: none;
  color: #202020;
  padding: 2.5rem 0 0;
  margin-bottom: 0rem;
}

.main__inner-page_feed {
  padding: 5rem 0 0;
}