//breakpoints
$laptops:1024px;
$tablets:768px;
$phones:480px;
$mini:350px;

@mixin laptops {
  @media screen and (max-width: $laptops) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@mixin mini {
  @media screen and (max-width: $mini) {
    @content;
  }
}

.container {
  @include laptops {
    width: 85%;
  }
}

.offers__card-description {
  @include laptops {
    margin-right: 0;
  }
}

.socials {
  @include laptops {
    padding: 0;
  }
}

.partners {
  @include phones {
    justify-content: center;
  }
}

.partners__item:nth-child(7n) {
  @include laptops {
    margin-left: 11.375rem;
  }
}

.partners__item:nth-child(4n + 1) {
  @include laptops {
    margin-left: 3.8125rem;
  }
}

.partners__item {
  @include tablets {
    margin-left: 3.8125rem;
  }
}

.partners__item:nth-child(7n) {
  @include tablets {
    margin-left: 3.8125rem;
  }
}

.partners__item {
  @include phones {
    margin-left: 0;
  }
}

.partners__item:nth-child(4n + 1) {
  @include phones {
    margin-left: 0;
  }
}

.partners__item:nth-child(7n) {
  @include phones {
    margin-left: 0;
  }
}

.separator {
  @include laptops {
    background: #E5C288 url(../img/feedback/phone-n-hand.png) left 125% bottom 111% no-repeat;
  }
}

.separator {
  @include phones {
    background: #E5C288 url(../img/feedback/phone-n-hand.png) left 110% bottom 0 no-repeat;
    background-size: 50%;
  }
}

.separator__title {
  @include phones {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

.menu__link {
  @include tablets {
    margin-right: 1.1875rem;
  }
}

.logo {
  @include tablets {
    margin-right: 3rem;
  }
}

.header .contacts {
  @include tablets {
    font-size: 1.3rem;
  }
}

.offers__card-conditions {
  @include tablets {
    flex-wrap: wrap;
  }
}

.about:before {
  @include tablets {
    display: none;
  }
}

.wrapper {
  @include tablets {
    background: url(../img/bg/lion-header.jpg) left 53% top no-repeat, url(../img/bg/bottom-pic.png) right bottom 12% no-repeat;
  }
}

.wrapper.wrapper_type_inner-page {
  @include laptops {
    background: none;
    background-color: #fff;
  }
}

.header .contacts {
  @include phones {
    font-size: xx-small;
    text-align: end;
  }
}

.wrapper {
  @include phones {
    background: url(../img/bg/lion-header.jpg) left 52% top no-repeat, url(../img/bg/bottom-pic.png) right 30% bottom 9% no-repeat;
  }
}

.button_type_secondary {
  @include phones {
    text-align: center;
    max-width: 10rem;
  }
}


ul.offers {
  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.offers__card {
  @include phones {
    flex: 1 0 100%;
    margin-bottom: 2rem;
    width: inherit;
  }
}

.footer .logo {
  @include phones {
    margin-right: 1rem;
  }
}

.socials {
  @include phones {
    display: block;
    padding: 0;
    margin: 0 5% 0 0;
    max-width: 50%;
    column-count: 2;
  }
}

.socials__icon {
  @include phones {
    margin: 0;
  }
}

.socials__icon :nth-child(n+1) {
  @include phones {
    margin-bottom: 0.5rem;
  }
}

.menu {
  @include phones {
    max-width: 5.625rem;
  }
}

.news {
  @include mini {
    display: flex;
    flex-wrap: wrap;
  }
}

.news__items {
  @include mini {
    margin: 0 0 1rem 0;
  }
}


.header-top {
  @include laptops {
    background: url(../img/bg/lion-head-wide.jpg) right 39% top no-repeat;
  }
}

.slogan__title {
  @include mini {
    font-size: 2.25rem;
  }
}

.hello-logo__pic {
  @include phones {
    width: 140px;
  }
}

.service {
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.service__img {
  @include tablets {
    /* display: block; */
    width: 100%;
  }
}

.sevice__pic {
  @include tablets {
    width: 100%;
    margin-right: 0;
  }
}

.service__description {
  @include tablets {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2%;
  }
}

.feedbacks {
  @include tablets {
    column-count: 1;
    text-align: center;
  }
}

.separator__slogan {
  @include tablets {
    max-width: 55%;
  }
}

.form__row {
  @include phones {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.form__input {
  @include phones {
    flex: 1;
    margin-bottom: 1.75rem;
    margin-right: 0;
  }
}

.controls {
  @include phones {
    padding: 0;
  }
}

.feedback {
  @include mini {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
  }
}

.footer .logo {
  @include mini {
    display: none;
  }
}